<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/emailfront/favicon.ico">
        <title>All good.</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/emailfront/css/styles.css">
    <!-- <link rel="stylesheet" href="/static/frontend/css/app.css"> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but We got this doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="/static/frontend/js/app.js"></script>
    <script src="/static/frontend/js/chunk-vendors.js"></script>
  </body>
</html>

